.post
	%h1 Post Show

	%h2= @post.title
	%p
		Posted by
		= @post.user.username
	%p= simple_format @post.content
%hr/
%br/
= link_to 'Edit', edit_post_path
= link_to 'Delete'
= link_to 'Home', root_path
