#post
	%h1= @post.title

	%p.date 
		%em 
			Posted
			= time_ago_in_words(@post.created_at)
			ago

	%p= simple_format @post.content
	%br/
	- if current_user == @post.user
		= link_to 'Edit', edit_post_path
		= link_to 'Delete', @post, method: :delete, data: {confirm: 'Are you sure?'}
	%hr/
	%br/
